* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    background-color: rgb(255, 167, 167);
    height: 100vh;
}

.title {
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#board {
    width: fit-content;
    background-color: rgb(255, 167, 167);
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, minmax(50px, 125px));
    grid-template-columns: repeat(3, minmax(50px, 125px));

    box-shadow: 4px 4px 10px gray;
    padding: 20px;
    border-radius: 5px;
}

.cell {
    border-radius: 5px;
    background-color: rgb(255, 118, 118);
    color: white;
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    opacity: 75%;
}

.cell:active {
    transform: scale(0.95);
}

#message {
    font-size: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}